/* @override http://localhost:4000/css/styles.css */

/* @override http://localhost/css/styles.css */

/* @override http://localhost:4000/css/styles.css */

/* @group reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
sup{
	vertical-align: super;
	font-size: 0.8em;
}

/* @end */

/* @group bootstrap */

html{ font-size: 16px; }

html{
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(-webkit-min-device-pixel-ratio: 192), 
(min-resolution: 192dppx) {
  body{
    -webkit-font-smoothing: antialiased;
    -font-smoothing: antialiased;
  }
}


body{
  color: #222;
  font-family: "ff-tisa-web-pro", georgia, "Lucida Grande", Lucida, Verdana, sans-serif;
  font-size: 20px;
  background: #fff;
  height: 100%;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "liga=1, dlig=1, onum=1";
  -moz-font-feature-settings: "liga","dlig","onum";
  -ms-font-feature-settings: "liga","dlig","onum";
  -webkit-font-feature-settings: "liga","dlig","onum";
  font-feature-settings: "liga","dlig","onum";
}

a{
  color: #1a669b;
  text-decoration: none;
}

a:hover{ color: #00b3e3; }


p+p{ text-indent: 1.4em; }

strong{ font-weight: 600; }

ul, ol{
  padding-top: 0.8em;
  padding-left: 1.4em;
  margin-bottom: 0.8em;
}

ol{ counter-reset: item; }

ol li { display: block }
ol li:before { 
  content: counters(item, ".") ". ";
  counter-increment: item;
  width: 1.4em;
  display: inline-block;
}

ul li{ list-style-type: disc; }

img{ max-width: 100%; }

span.ampersand{
  font-family: Baskerville !important;
  font-weight: normal;
  font-style: italic !important;
}

span.preposition{
  font-family: "ff-tisa-web-pro", georgia, "Lucida Grande", Lucida, Verdana, sans-serif;
  text-transform: lowercase;
  font-style: italic;
  letter-spacing: 0;
  margin-left: 0.1em;
  margin-right: 0.1em;
}

span.strike{ text-decoration: line-through; color: #ccc; }

div.site-width{
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  width: 90%;
  max-width: 1024px;
}


@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?iplwdt');
  src:url('fonts/icomoon.eot?#iefixiplwdt') format('embedded-opentype'),
    url('fonts/icomoon.woff?iplwdt') format('woff'),
    url('fonts/icomoon.ttf?iplwdt') format('truetype'),
    url('fonts/icomoon.svg?iplwdt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

article.h-entry dl .fn{
  font-family: "franklin-gothic-urw", arial;
  font-style: normal;
  -webkit-text-rendering: optimizeLegibility;
}

/* @end */

/* @group shared */

/* @group .page */

.page hr{
	display: block;
	border: none;  
	background: #333;
	height: 3px;
	position: relative;
	margin-top: 28px;
	margin-bottom: 28px;
}

.page hr::before{
	content: "";
	position: absolute;
	top: -2px;
	left: 0;
	right: 0;
	border-top: 1px solid #333;
}

.page a{ color: #009b76; }
.page a:hover{
  color: #1f5f5a;
  text-decoration: underline;
}

.page strong{ font-weight: 600; }
.page em{ font-style: italic; }


.page ol li:before{ margin-left: -1.4em;}

.page p{ max-width: 40rem; }
.page li{ max-width: 34.6em; }

.page p, .page li{ line-height: 1.45em; }

.page li{ list-style-type: square; }
.page li:first-child h2{ margin-top: 0; }

.page p.dedication,
.page p.credit{
  text-indent: 0;
  font-style: italic;
  font-size: 16px;
  line-height: 1.4;
  margin-top: 1.4em;
  color: #333;
}

.page h1{
  font-size: 28px;
  line-height: 1.2em;
  font-family: "Futura", Verdana;
  font-weight: 400;
  margin-top: 36px;
  margin-bottom: 0.6rem;
  color: #cc4c34;
}

.page h1+ul, h1+ol{	padding-top: 0; }

.page code{
  font-family: Input Sans, Monaco, "Courier New", Courier, mono;
  font-weight: 600;
  font-size: 0.9em;
  color: #d6601d;
}

.page figure{
  line-height: 1.4em;
  margin: 1em 0;
  counter-increment: figure;
}

.page figure figcaption p{
    font-size: 16px;
    line-height: 1.4em;
    font-family: "franklin-gothic-urw", arial;
    margin-top: 1em;
}

.page figure img{
	width: 100%;
}

.page section section h1,
.page h2{
  font-family: "franklin-gothic-urw", Arial;
  line-height: 1.4em;
  margin-top: 32px;
  margin-bottom: 8px;
  font-size: 23px;
  font-weight: 600;
  color: #222 !important;
}

.page h2.question{
	font: inherit;
	font-weight: normal;
	font-style: italic;
	line-height: 1.4em;
}

.page blockquote{
  font-style: italic;
  margin-bottom: 1.4em;
  position: relative;
  margin-left: 1.4em;
  margin-top: 0.7em;
}

.page blockquote::before{
  content: "\201C";
  color: #555;
  position: absolute;
  right: 100%;
  top: 0;
  font-size: 1.8em;
  margin-right: 0.2em;
  margin-top: 0.1em;
}

.page h1+blockquote{
	margin-top: 24px;
}

.page li h2,
.page blockquote h2{
	font-size: 1em;
	font-family: inherit;
}

.page blockquote p:first-of-type{ text-indent: none !important; }

.page blockquote cite{
  font-size: 0.9em;
  font-style: normal;
  font-family: "franklin-gothic-urw", Arial;
  display: block;
  margin-top: 0.6em;
  line-height: 1.3em;
  padding-left: 0.8em;
}

.page blockquote cite::before{
  content: "\2014";
  margin-left: -0.95em;
  margin-right: 0.3em;
  color: #555;
}

/* @group .pull-quote */

.page blockquote.pull-quote{
  font-family: "franklin-gothic-urw-cond", Arial, sans-serif;
  font-style: normal;
  color: #cc4c34;
  text-indent: 0;
  margin: 1em 0 0.5em;
  padding-top: 0.5em;
  text-align: center;
}

.page blockquote.pull-quote::before,
.page blockquote.pull-quote::after{
	display: block;
	position: static;
	font-size: 72px;
	line-height: 0.1;
	color: inherit;
	text-align: ;
}

.page blockquote.pull-quote::after{
	content: "â€";
	margin-left: -0.2em;
	margin-top: 0.5em;	
}

.page blockquote.pull-quote p{
  font-size: 28px;
  line-height: 1.4;
}




@media screen and (min-width: 568.88px){
	.page blockquote.pull-quote{
	  width: 256px;
	  float: right;
	  text-align: left;
	  box-sizing: border-box;
	  padding-left: 1.5em;
	  margin-left: 16px;
	  margin-top: 1em;
	  margin-bottom: 1em;
	}
	
	.page blockquote.pull-quote+p{
	  text-indent: 1.4em;
    }
	
	.page blockquote.pull-quote p{
		font-size: 32px;
	}
	
	.page blockquote.pull-quote::before{
		position: absolute;
		left: 0;
		top: 0.125em;
		color: #ccc !important;
	}
	
	.page blockquote.pull-quote::after{ display: none; }

}


/* @end */


.page span.first-letter{
  font-size: 3.2em;
  float: left;
  color: #cc4c34;
  font-weight: 100;
  margin-right: 0.1em;
  margin-top: 0.35em;
  font-family: "abril-fatface";
}

@media screen and (min-width: 568.88px){
	.page hr{
  	  margin-top: 28px;
	  margin-bottom: 28px;
	}
	.page h2.question{ line-height: 1.5em; }
	.page p, .page li{ line-height: 1.6em; } 
	.page span.first-letter{ font-size: 6em; } 
}

div.celebrated-content{
  background: #333;
  color: white;
  padding: 1em 0;
  text-align: center;
  font-size: 1.4em;
  line-height: 1.4;
  font-style: italic;
}

@media screen and (min-width: 924.44px){
  .page figure.track-site-width{
    margin-right: -96px;
    margin-left: -96px;
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

@media screen and (min-width: 1137.77px){
  .page figure.track-site-width{
    margin-right: -192px;
    margin-left: -192px;
  }
}

/* @end */

/* @group section.contributors */


section.contributors{ font-family: "franklin-gothic-urw", Arial; }
section.contributors h1{
  font-size: 1.4rem;
  font-family: "franklin-gothic-urw", Arial;
  font-weight: 600;
  margin-bottom: 1em;
}

section.contributors span.name,
section.contributors span.organization{ 
	display: block; 
	line-height: 1.3;
}

section.contributors span.name{
	margin-bottom: 0.2em;
}

section.contributors span.organization{
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.02em;
  color: #555;
}

section.contributors span.capacity{
  font-size: 0.8rem;
  color: #888;
}

section.contributors ul{ padding: 0; }
section.contributors ul::after {
  content: "";
  display: table;
  clear: both;
}

section.contributors ul,
section.contributors ul li{ 
  text-align: center; 
  max-width: none;
  padding: 0;
}


section.contributors ul li{
  list-style-type: none;
  margin-bottom: 1.5em;
  box-sizing: border-box;
  line-height: 1.2;
  display: inline-block;
  width: 49%;
}

section.contributors li img{
  border-radius: 100%;
  width: 4rem;
  height: 4rem;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 0.4em;
}



@media screen and (min-width: 568.88px){
  section.contributors ul,
  section.contributors ul li{ text-align: left; } 

  section.contributors ul li{
    padding-left: 4.66rem;
    min-height: 3em;
    position: relative;
    width: 49.5%;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 2em;
  }
  
  section.contributors li img{
    position: absolute;
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
    left: 0;
    top: 50%;
    margin: -2rem 0 0 0;
  }
    
}

/* @end */


/* @group bigfoot.js */

.bigfoot section.footnotes{ display: none; }

.bigfoot .bigfoot-footnote__content p,
.bigfoot .bigfoot-footnote__content li{
    font-family: "franklin-gothic-urw", arial;
    font-size: 16px;
    line-height: 1.4em;
    -webkit-font-smoothing: subpixel-antialiased;
}


/* @end */

/* @group article.h-entry */

article.h-entry{ margin-bottom: 1em; }

article.h-entry a:hover h1{ text-decoration: underline; }

article.h-entry dl{
  margin-bottom: 0.4em;
  color: #333;
  font-style: italic;
  line-height: 1.2em;
}

article.h-entry a dl,
article.h-entry a p{
  font-size: 0.8em;
}

article.h-entry dl dt,
article.h-entry dl dd{ display: inline; }

article.h-entry dl dt{
  text-transform: lowercase;
  margin-right: 0.1em;
}

article.h-entry dl dt{ font-weight: normal; }
article.h-entry dl dd{ font-weight: 600; }

article.h-entry p{
  max-width: 28em;
  font-size: 1rem;
  line-height: 1.45;
  color: #333;
}

article.h-entry h1{
  line-height: 1.2em;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0.2em;
  font-family: abril-titling-condensed, georgia;
  font-size: 1.2rem;
  max-width: 20em;
}

article.h-entry a{
  display: block;
  position: relative;
}

article.h-entry a:hover{ text-decoration: none; }
article.h-entry a h1{ color: #ce4d32; }
article.h-entry a:hover h1{ color: #991325; }

div.articles::after{
  content: "";
  display: table;
  clear: both;
}

@media screen and (min-width: 528px){

  section.h-feed article.h-entry h1{
	font-size: 1.4rem;
	line-height: 1.3;
	margin-bottom: 0.1em;
  }
  
  section.h-feed article.h-entry dl,
  section.h-feed article.h-entry p{
	font-size: 1rem;
	line-height: 1.5;
  }

}

@media screen and (min-width: 704px){
  
  section.h-feed div.articles{ margin-right: -0.25em; }
  section.h-feed article.h-entry{
    width: 50%;
    display: inline-block;
    margin-right: -0.25em;
    vertical-align: top;
    box-sizing: border-box;
    padding-right: 16px;
	box-sizing: border-box;
  }
  
  section.h-feed article.h-entry:nth-child(2n){ margin-right: 0; }
  
}

/* @end */

/* @group section.h-feed */

section.h-feed{ 
	padding-bottom: 0.8em; 
	overflow: hidden;
}

section.h-feed header h1{
  font-size: 36px;
  line-height: 1.2;
  font-family: abril-fatface;
  font-weight: 400;
  color: #222;
  margin-bottom: 0.2em;
}

section.h-feed header p{
  max-width: 36rem !important;
  margin-bottom: 1em;
  line-height: 1.4;
	  font-family: "franklin-gothic-urw-cond", Arial;
  font-size: 22px;
}

section.h-feed.h-feed-miscellaneous header h1{
  font-size: 23px !important;
  margin-bottom: 1em;
  font-family: "franklin-gothic-urw", Arial;
  font-weight: 600 !important;
  border-color: #e3e3e3;
}

@media screen and (min-width: 711.11px){
	section.h-feed header h1{
	   font-size: 2rem;
	   margin-top: 0.4em;
	}
	
	section.h-feed header p{
	  font-size: 1.4rem;
	  line-height: 1.3;
	  margin-bottom: 1.6em;
	  color: #444;
	}

}



/* @end */



/* @end */

/* @group forms */



.button{
  color: #fff;
  border: 3px double #fff;
  border-radius: 0;
  background: #df6018 none;
  padding: 0.3em 0.5em;
  font-family: "franklin-gothic-urw", helvetica;
  font-size: 0.9em;
  cursor: pointer;
  -webkit-appearance: none;
  margin: 0;
  white-space: nowrap;
  display: inline-block;
}

.button:hover{
  background-color: #c04316;
  color: white;
}

.button.disabled {
  opacity:0.7;
  cursor:wait;
}

.button.disabled:hover {
  background-color:#df6018;
}



.field-select select {
  border: 2px solid #ccc;
  border-top-color: #c3c3c3;
  border-left-color: #c3c3c3;
  font: inherit;
  font-size: 0.9rem;
  padding: 0.6rem 1.5rem 0.4rem 0.4rem;
  margin: 0 ;
  height: 2.4rem;
  line-height: 2.8rem;
  width: 100%;
  background-color: #fff;
  background-image:
      url("images/arrow-down-black.png"), -webkit-linear-gradient(#fff, #eee);
  background-image:
      url("images/arrow-down-black.png"),
    linear-gradient(#fff, #eee);
  background-repeat: no-repeat, repeat-x;
  background-position: right 0.4em center, 0 0;
  background-size: 12px 9px, 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
  border: 0.08em solid #ccc;
  border-bottom-color: #c3c3c3;
  font: inherit;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
	
 }
 

input[type=text],
input[type=tel],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=date],
input[type=year]{
  border: 1px solid #ccc;
  border-top-color: #c3c3c3;
  border-left-color: #c8c8c8;
  font: inherit;
  font-size: inherit;
  padding: 0.4rem 0.33rem 0.33rem;
  margin: 0;
  outline: none;
  height: 2.4rem;
  line-height: 1;
  box-sizing: border-box;
  box-shadow: none;
  width: 100%;
  background: #fff;
  box-shadow: inset 0.05em 0.05em 0 rgba(0,0,0,0.08);
  -webkit-appearance: none;
  max-width: 20rem;
  border-radius: 0;
}

input[type=text]:focus,
input[type=tel]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=date]:focus,
select:focus,
textarea:focus{
  border-color: #217eb4;
}

input[type=checkbox],
input[type=radio]{
  vertical-align: middle;
  display: inline-block;
  position: relative;
  top: -0.15rem;
}

input[type=text][disabled],
input[type=tel][disabled],
input[type=email][disabled],
input[type=password][disabled],
input[type=date][disabled],
select[disabled],
textarea[disabled]{
  background: #f3f3f3;
  color: #555;
}

input[type=checkbox],
input[type=radio]{
  position: absolute;
  left: 0;
  top: 1rem;
  margin: 0;
  margin-top: -0.6rem;
  font-size: 2em;
}


div.field.field-checkbox,
div.field.field-radiobutton{
  margin-right: 0.4rem;
  margin-bottom: 0.4rem;
  position: relative;
  max-width: 32em;
}

div.field.field-checkbox label,
div.field.field-radiobutton label{
  padding-left: 1.4rem;
  line-height: 1.4em;
  position: relative;
  font-weight: normal;
  margin-bottom: 0.6em;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  cursor: pointer;
}


div.field{
  margin-bottom: 1.8rem;
  box-sizing: border-box;
  position: relative;
  font-family: "franklin-gothic-urw", Arial;
}

div.field span.label-text,
fieldset legend{
  line-height: 1.4em;
  display: block;
  margin-bottom: 0.7em;
  width: 100%;
  font-family: "franklin-gothic-urw", Arial;
  font-weight: 600;
  font-size: 20px;
}


fieldset.fieldset-name div.field,
fieldset.fieldset-phone div.field-number,
fieldset.fieldset-address div.field.field-street,
fieldset.fieldset-address div.field.field-city,
fieldset.fieldset-address div.field.field-state,
fieldset.fieldset-address div.field.field-zip,
fieldset.fieldset-cc div.field.field-cc-n,
fieldset.fieldset-cc-expiry-date div.field.field-cc-mm,
fieldset.fieldset-cc-expiry-date div.field.field-cc-yy,
fieldset.fieldset-cc div.field.field-cc-cvv,
fieldset.fieldset-offer-code div.field.field-offer-code {
    float: left;
    margin-right: 0.8rem;
    position: relative;
    padding-bottom: 1.4rem;
}

fieldset.fieldset-address div.field.field-street,
fieldset.fieldset-address div.field.field-zip{ margin-right: 0; }
fieldset.fieldset-cc fieldset.fieldset-cc-expiry-date{
  float: left;
}

fieldset.fieldset-cc div.field.field-cc-n,
fieldset.fieldset-cc div.field.field-offer-code {
  float: none;
}

fieldset.fieldset-address div.field.field-street{
  float: none;
  margin-bottom: 1.4rem;
  margin-right: 0;
}

fieldset.fieldset-address div.field.field-city,
fieldset.fieldset-address div.field.field-state,
fieldset.fieldset-address div.field.field-zip{ margin-bottom: 0; }



fieldset.fieldset-address div.field label span,
fieldset.fieldset-cc div.field.field-cc-n label span,
fieldset.fieldset-cc div.field-cc-mm label span,
fieldset.fieldset-cc div.field-cc-yy label span,
fieldset.fieldset-cc div.field.field-cc-cvv label span,
fieldset.fieldset-cc div.field.field-cc-cvv a{
  position: absolute;
  bottom: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1rem;
  font-weight: normal;
  color: #555;
}

fieldset.fieldset-cc div.field.field-cc-cvv a{
  position: absolute;
  right: 0;
  bottom: 2rem;
  color: #888;
  text-decoration: underline;
}

fieldset.fieldset-cc-expiry-date,
fieldset.fieldset-offer-code {
  margin-bottom: 0.6rem;
  margin-top: 0.4rem;
}

fieldset.fieldset-offer-code {
  margin-top: 1.2rem;
}

fieldset.fieldset-offer-code .field.field-offer-code {
  margin-bottom:0;
}

fieldset.fieldset-cc-expiry-date legend,
fieldset.fieldset-offer-code legend {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 600;
}

fieldset.fieldset-cc div.field.field-cc-cvv{
  float: none;
  clear: both;
  width: 10.5rem;
  margin-bottom: 0;
}

fieldset.fieldset-cc div.field.field-cc-cvv::after {
  content: "";
  display: table;
  clear: both;
}

fieldset.fieldset-cc div.field.field-cc-cvv input{
  width: 4rem;
}
fieldset.fieldset-address div.field.field-city{
  width: 8.2rem;
  clear: left;
}

fieldset.fieldset-address div.field.field-state,
fieldset.fieldset-address div.field.field-zip,
fieldset.fieldset-cc div.field.field-cc-cvc{ width: 3.8rem; }

fieldset.fieldset-address div.field.field-zip{ width: 6.125rem; }

fieldset.fieldset-cc div.field.field-cc-cvc{ padding-top: 1.2em; }

fieldset.fieldset-cc-expiry-date div.field.field-cc-mm,
fieldset.fieldset-cc-expiry-date div.field.field-cc-yy{ width: 5em; }
fieldset.fieldset-cc div.field.field-cc-yy{
  margin-right: 2rem;
}

/* @end */

/* @group header#header */

header#header{
  color: #333;
  padding-top: 2.4em;
  padding-bottom: 1px;
  z-index: 1;
}

body.about header#header nav.nav-primary a.about,
body.issues header#header nav.nav-primary a.issues,
body.subscribe header#header nav.nav-primary a.subscribe,
body.contribute header#header nav.nav-primary a.contribute{
  font-weight: 600;
  color: inherit;
  text-decoration: none;
}

header#header p{
  font-size: 0.8em;
  line-height: 1.4em;
  margin-bottom: 0.8em;
    position: relative;
    font-style: italic;
}

header#header nav.nav-primary{
  left: 0;
  right: 0;
  font-family: "franklin-gothic-urw", Arial;
  font-size: 0.8em;
  position: absolute;
  bottom: 100%;
  margin-bottom: 0.8rem;
}

header#header nav.nav-primary a{
  margin: 0 0.8em 0 0;
}

header#header nav.nav-primary a:hover{ text-decoration: underline; }

header#header div.site-width::after {
  content: "";
  display: table;
  clear: both;
}

header#header h1.logo{
  font-family: abril-titling-condensed;
  font-size: 2em;
  font-weight: 700;
  color: #333;
  position: relative;
  margin-bottom: 0.4em;
  border-top: 0.2rem solid;
}

header#header h1.logo,
header#header h1.logo a{
  color: inherit;
}

header#header h1.logo a:hover{ color: #000; }


header#header h1.logo::after{
  left: 6.5em;
  right: 0;
  width: auto;
}

header#header h1.logo span{
  display: inline-block;
  position: relative;
}

header#header h1.logo::after,
header#header h1.logo span::before,
header#header h1.logo span::after{
  content: "";
  position: absolute;
  bottom: -0.1rem;
  left: 0;
  border-bottom: 1px solid;
}

header#header h1.logo span::before{
  width: 2.35em;
}

header#header h1.logo span::after{
  right: 0.6em;
  left: 3.05em;
}

header#header h1.logo::after{
  width: auto;
  right: 0;
  left: 6.5em;
}

header#header nav.nav-issue{
  font-family: "franklin-gothic-urw", Arial;
  font-size: 0.8em;
  font-weight: 600;
  position: relative;
  z-index: 1;
  margin-bottom: 1.4em;
}

@media screen and (min-width: 711.11px){

  header#header div.site-width{
    border-top: 0.3rem solid;
  }

  header#header div.site-width::before{
    content: "";
    position: absolute;
    right: 0;
    left: 18.125em;
    bottom: -0.08em;
    border-bottom: 1px solid;
    z-index: 1;

  }

  header#header h1.logo{
    display: inline-block;
    font-size: 2.8em;
    border-top: none;
    margin: 0;
  }

  header#header{
      padding-top: 3.2em;
  }
  
  

  header#header form,
  header#header nav.nav-primary,
  header#header p{
    position: absolute !important;
    bottom: 100%;
    margin-bottom: 1.4rem;
  }

  header#header nav.nav-primary{
    position: absolute;
    right: 0;
    margin-bottom: 1.8rem;
    text-align: right;

  }

  header#header nav.nav-primary a{
    margin-right: 0;
    margin-left: 0.8em;
  }

  header#header nav.nav-issue{
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -0.5em;
      white-space: nowrap;
  }

  header#header p{
    font-size: 0.7em;
      max-width: 18rem;
      margin-bottom: 1.2rem;
  }

}

@media screen and (min-width: 995.55px){
  header#header p{
    font-size: 0.8em;
      max-width: none;
    margin-bottom: 1.66rem;
  }
}

header#header nav.nav-issue h1,
header#header nav.nav-issue h2{
  font-family: "franklin-gothic-urw", Arial;
  font-size: 1rem;
  display: inline;
  font-weight: 400;
}

header#header nav.nav-issue h1::after{
  content: "";
  width: 0.4rem;
  height: 0.4rem;
  display: inline-block;
  vertical-align: middle;
  border-radius: 100%;
  border: 1px solid;
  margin-left: 0.5em;
  margin-right: 0.3em;
  margin-top: -0.15em;
}

header#header nav.nav-issue a{
  display: none;
}

/* @end */

/* @group footer#footer */

footer#footer{
  position: relative;
  font-family: "franklin-gothic-urw", helvetica;
  text-align: center;
}

footer#footer div.site-width{
  border-top: 1px solid;
  margin-bottom: 2em;
}

footer#footer img{
  max-width: 11em;
}

footer#footer section.subscribe,
footer#footer section.mailing-list{
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  box-sizing: border-box;
}

footer#footer section.subscribe{ border-bottom: 0.08rem solid #333; }
footer#footer section.subscribe .button{
  font-weight: 600;
  display: inline-block;
}

footer#footer section.subscribe p{
  font-family: abril-titling-condensed, georgia; 
  font-size: 1.4rem;
  line-height: 1.4em;
  margin-bottom: 0.6em;
}

footer#footer section.mailing-list label{ 
  font-size: 0.9em; 
  margin-top: 0.1rem;
}

footer#footer h1,
footer#footer label{
  font-weight: 600;
  display: block;
  margin-bottom: 0.8em;
}

footer#footer nav{
  font-size: 0.9em;
  line-height: 1.5em;
  border-top: 0.3rem solid;
  padding-top: 0.8rem;
  display: block;
  clear: both;
  margin-bottom: 0.8em;
}

footer#footer nav a{
  font-size: 1rem;
  color: inherit;
  margin-right: 0.8em;
  display: inline-block;
  padding: 0.2em;
}

footer#footer nav a:hover{
  text-decoration: underline;
}

footer#footer .mailing-list input[type=email]{
  margin-bottom: 0.8em;

}
footer#footer .mailing-list input[type=submit]{
  background: #207cb6;
}

footer#footer .mailing-list input[type=submit]:hover{
  background: #174a8c;
}


footer#footer a.twitter::before{
  font-family: "icomoon";
  content: "twitter";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 1.4em;
  vertical-align: text-top;
  position: relative;
  top: 0.1em;
}

footer#footer .facebook span.icon::after{
  content: "facebook";

}

footer#footer .copyright{
  clear: both;
  font-size: 0.7em;
  line-height: 1.4em;
}

@media screen and (min-width: 711.11px){
  footer#footer{ text-align: left; }
  
  
  footer#footer section.subscribe,
  footer#footer section.mailing-list{
    text-align: left;
    float: left;
	box-sizing: border-box;
    width: 50%;
    border-bottom: none;
  }
  
  footer#footer section.subscribe{ padding-right: 8px; }
  footer#footer section.mailing-list{ padding: 1.6em 0 1.6em 4px; }

}

@media screen and (min-width: 1137.77px){

  footer#footer{ margin-top: 2em; }
  
  footer#footer nav a{ padding: 0; }

  footer#footer section.subscribe,
  footer#footer section.mailing-list{
    margin-bottom: 0;
  }

  footer#footer section.subscribe{
    width: 66.3%;
    padding-right: 0;
  }

  footer#footer section.subscribe p{
    font-size: 1.2em;
    margin-bottom: 0.8em;
    max-width: 24em;

  }
  footer#footer section.subscribe button{
    position: static;
    width: auto;
  }

  footer#footer section.mailing-list{
    width: 33.3%;
    padding-left: 12px;
    padding-right: 0;
  }


}

/* @end */

/* @group layouts */

/* @group article */

/* @group bootstrap */

body#article{
  border-right: 0.6rem solid #ce4d32;
  background: white;
  counter-reset: figure;
}

@media screen and (min-width: 32em){

  body#article{
    border-right-width: 0.9rem;
  }

}

@media screen and (min-width: 56.9em){
  body#article{
    border-right-width: 1.2rem;
  }
}

/* @end */

/* @group header */


body#article main > header{
  text-align: center;
  font-family: "franklin-gothic-urw-cond", arial;
}

body#article main > header#header h1:hover::before,
body#article main > header#header h1:hover::after{
  border-color: #264f5f;
}

body#article main > header h1,
body#article main > header h2{
  font-size: 40px;
  font-family: "abril-titling-condensed", Georgia;
  line-height: 1.1;
  font-weight: 600;
  margin-top: 0;
}

body#article main > header h3,
body#page main > header h3{
  font-size: 20px;
  padding-top: 0.8em;
  margin-bottom: 0.4em;
}



body#article main > header p{
  font-size: 24px;
  line-height: 1.4;
}

body#article main span.read-time{
  font-weight: 600;
  font-style: normal;
  margin-top: 0.45rem;
  margin-bottom: 1rem;
  display: block;
}
body#article main  span.read-time::before{
  font-family: "icomoon";
  content: "time";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 0.9em;

  /* Enable Ligatures ================ */
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 1.4em;
  display: inline-block;
  vertical-align: middle;
  margin-top: -0.4em;
  margin-right: 0.1em;
}

body#article main > header h3{
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 1.2em;
 }

body#article main > header h3 span.by{
	text-transform: lowercase;
    font-family: "ff-tisa-web-pro", georgia, serif;
    font-style: italic;
    font-weight: normal;
    margin-right: 0.125em;
}

@media screen and (min-width: 563.2px){
  body#article main > header h1,
  body#article main > header h2{
    font-size: 56px;
    max-width: 832px;
    margin: 1.4em auto 0;
  }

  body#article main > header h1{
  	margin-bottom: 0.2em;
  } 
 
  body#article main > header h2{
	margin-top: 0;
  }
  
  body#article main > header h3{
	padding-top: 24px;
    margin-bottom: 1.8em;
  }

  
  body#article main > header p{
  	max-width: 640px;
  	font-size: 28px;
  	margin: 0.4em auto 0;
  }

  body#article main > header h3{
    font-size: 24px;
    max-width: 832px;
    margin-left: auto;
    margin-right: auto;
  }
  
}

@media screen and (min-width: 924.44px){

  body#article main > header p,
  body#article main > header h3{
    font-size: 32px;
  }

  body#article main > header h3{
	font-size: 24px;
  }	
}


/* @end */

/* @group main */

/* @group letter-to-the-editors */

section.letter-to-editors{
	background: #eee url(images/tile_light_grey.png);
	padding: 1em;
	font-size: 1rem;
	line-height: 1.4em;
	font-family: "franklin-gothic-urw", arial;
	border: 0.3rem solid #f3f3f3;
}

section.letter-to-editors p{
	line-height: 1.4;
}

body#article main section.letter-to-editors h1{
	display: none;
}


/* @end */


/* @group donate */

section.donate{
	font-size: 16px;
	line-height: 1.4em;
	font-family: "franklin-gothic-urw", arial, sans-serif;
	border: 3px solid #eee;
	padding: 1em;
	background: #eee url(images/tile_light_grey.png);
}

section.letter-to-editors p{
	line-height: 1.4;
}

body#article main section.donate h1{
	font-family: "franklin-gothic-urw", arial, sans-serif;
	color: #333 !important;
	font-size: 20px;
	margin-top: 0;
}

/* @end */

body#article main aside.publication-information h1{
  font: inherit !important;
  color: #555;
  font-style: normal;
  margin: 1em 0 0.4em;
  line-height: 1.8em;
  text-transform: uppercase;
  font-size: 13px !important;
}
body#article main aside.publication-information ul{ padding: 0;}
body#article main aside.publication-information li{ 
	list-style-type: none; 
	padding: 0.2em 0; 
	margin: 0 !important;
	border-top: 1px solid #e3e3e3;
}

body#article aside.publication-information{
  float: right;
    font-family: "franklin-gothic-urw", arial;
  width: 160px;
  margin-left: 1rem;
  margin-top: 0.3rem;
    font-size: 16px;
  margin-bottom: 1.5em;
}

body#article aside.publication-information p,
body#article aside.publication-information li{ line-height: 1.4; }

@media screen and (min-width: 711.11px){
  body#article main .page .site-width{
    max-width: 640px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 924.44px){
  body#article aside.publication-information{
    margin-right: -96px;
  }
}

@media screen and (min-width: 1137.77px){
  body#article aside.publication-information{
    margin-right: -192px;
  }
}

span.first-stanza{
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.8em;
  font-weight: 600;
  color: #555;
}


body#article main .page{
  padding-top: 2em;
  padding-bottom: 3em;
}

/* @group author-bio */

  section.author-bio{
    position: relative;
    min-height: 6rem;
    border-top: 3px solid #cc4c34;
    margin-top: 2.4em;
    font-style: normal;
    margin-bottom: 1em;
  }

  section.author-bio p {
    padding-top: 1em;
    padding-bottom: 1.5em;
    clear: both;
    font-size: 16px;
    line-height: 1.4em;
    font-family: "franklin-gothic-urw", arial, sans-serif;
  }

  section.author-bio p+p{
	margin-top: 1em;
    border-top: 0.1em solid #888;
    text-indent: 0;

  }

  section.author-bio p img{
    width: 6rem;
    margin-right: 1.2rem;
    border-radius: 100%;
    float: left;
    margin-top: -2.4rem;
    margin-bottom: 8px;
  }
  
  section.author-bio.author-bio-interviewee{
	border-top-color: #ccc;
	margin-bottom: 0;
  }
  
  section.author-bio.author-bio-interviewee+section.author-bio{
	margin-top: 1em;
  }
  
  section.author-bio.author-bio-interviewee h1 {
	margin-top: 1em;
	font-size: 22.5px;
    font-family: "franklin-gothic-urw", arial, sans-serif;
    font-weight: 600;
    color: #333;
    margin-bottom: 0;
    display: none;
  }


/* @end */



/* @end */

/* @group footer */

body#article main > footer div.site-width > header{
  border-top: 0.3rem solid #333;
  padding-top: 0.2em;
  margin-bottom: 1.8rem;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #333;
}

body#article main > footer div.site-width > header::after {
  content: "";
  display: table;
  clear: both;
}

body#article main > footer > div.site-width > header h1,
body#article main > footer > div.site-width > header h2,
body#article main > footer > div.site-width > header p{
  font-family: "franklin-gothic-urw-cond", Arial, sans-serif;
  padding-right: 0.4rem;
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
  font-weight: 600;
  line-height: 20px;
}

body#article main > footer > div.site-width > header h1::after{
  content: "";
  width: 0.33rem;
  height: 0.4rem;
  display: inline-block;
  vertical-align: middle;
  border-radius: 100%;
  border: 1px solid;
  margin-left: 0.5em;
}


body#article main footer .h-feed{
  border-bottom: 1px solid;
  margin-bottom: 20px;
}

body#article main footer .h-feed:last-of-type{
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

body#article main > footer > div.site-width > section.h-feed header h1,
body#article main > footer > div.site-width > section.h-feed header p{ display: none; }

body#article main > footer > div.site-width > header p,
body#article main > footer > div.site-width > header p img{
	white-space: nowrap;
	display: inline-block;
	vertical-align: middle;
}

body#article main > footer > div.site-width > header p{
  font-family: ff-tisa-web-pro, georgia, serif;
  font-weight: 400;
  font-size: 14px;
  font-style: italic;
  margin-top: 0.8em;
  display: block;
  padding-top: 0.4em;
  border-top: 1px dotted;

}

body#article main > footer > div.site-width > header p img{
	height: 24px;
	margin-left: 0.8em;
	margin-top: 0px;
	position: relative;
	top: -1px;
}

@media screen and (min-width: 426.66px){
	body#article main > footer > div.site-width > header h1,
	body#article main > footer > div.site-width > header h2{
	  float: left;
	  margin-top: 0.2em;
	}
	
	body#article main > footer > div.site-width > header p{
	    float: right;
	    border-top: none;
	    padding: 0;
	    margin-top: 2px;
	}
	
	body#article main > footer > div.site-width > header p img{
		margin-top: -3px;
    }
}



/* @end */

/* @end */

/* @group page */

/* @group bootstrap */

body#page main > header h1{
  margin-bottom: 0.3em;
  font-size: 2.4em;
  font-family: "abril-titling-condensed", Georgia, serif;
  line-height: 1.1;
  font-weight: 600;
  margin-top: 0.4em;
}

body main > header{ 
  text-align: center; 
  margin-bottom: 1.4em;
  padding-top: 1px;
}

body#page main > header p{
  font-size: 1.2em;
  line-height: 1.375em;
  font-family: "franklin-gothic-urw", Arial, sans-serif;
  max-width: 640px;
  margin: 0 auto 1.2em;
}

/* @end */

/* @group 404 */

body#page.page-404 .page .site-width{
  max-width: 42rem;
  margin: 2em auto 3.2em;
  text-align: center;
}

body#page.page-404 .page h1{ color: inherit; }

/* @end */

/* @group about */


body.about header#header,
body.about main header{
  background: #393a39 url(images/tile_grey.png) repeat fixed;
  color: white;
}

body.about main header{ 
	padding-top: 1.4em; 
	padding-bottom: 1.4em;
}

body.about header#header p,
body.about header#header nav a{ color: #aaa; }
body.about header#header h1 a,
body.about header#header h1 a:hover{ color: white; }

body.about .page .site-width{
  max-width: 42rem;
  margin: 0 auto;
}

body.about main aside{
  font-family: "franklin-gothic-urw", Arial;
  margin-top: 2.8em;
  text-align: center;
}


body.about main ul,
body.about main ul li{ 
  text-align: center; 
  max-width: none;
  padding: 0;
}

body.about main ul li{
  list-style-type: none;
  margin-bottom: 2em;
  line-height: 1.3em;
  box-sizing: border-box;
  width: 49%;
  display: inline-block;
}

body.about main ul li a{ font-size: 1rem; }
body.about main ul li span.link-join{
	display: inline-block;
	width: 0.2em;
	height: 0.2em;
	background: #333;
	vertical-align: middle; 
	margin-right: 0.2em;
	margin-left: 0.2em;

}

body.about main ul li span{
  display: block;
}

body.about main ul li span.title{
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.05em;
  color: #555;
  font-weight: normal;
  margin-bottom: 0.4em;
}

body.about main ul li img{
  border-radius: 100%;
  width: 6rem;
  height: 6rem;
  display: inline;
  margin: 0 0 0.2em;
}

@media screen and (min-width: 711.11px){
  body.about main ul,
  body.about main ul li{ text-align: left; }  

  body.about main ul li{
    padding-left: 7.2rem;
    min-height: 6rem;
    position: relative;
  }
  
  body.about main ul li img{
    position: absolute;
    left: 0;
    top: 50%;
    margin: -3.2rem 0 0 0;
  }
    
}

/* @end */

/* @group contribute */

body.contribute header#header,
body.contribute main header,
body.contribute main p.introduction{
  background: #393a39 url(images/tile_grey.png) repeat fixed;
  color: white;
}

body.contribute header#header p,
body.contribute header#header nav a{
  color: #aaa;
}

body.contribute header#header h1 a,
body.contribute header#header h1 a:hover{ color: white; }


body.contribute main header{ 
	padding-top: 1.4em; 
	padding-bottom: 1.4em;
}

body.contribute .page .site-width{
  max-width: 40rem;
  margin: 0 auto 2.8rem;
}


/* @end */



/* @group copyright */

body.copyright .page .site-width{
  max-width: 40rem;
  margin: 0 auto 3.2em;
}

body.copyright .page p.credit{
  text-indent: 0;
  font-size: 0.8rem;
  font-family: "franklin-gothic-urw", Arial;
  margin-top: 1.8em;
}


/* @end */
/* @group contribution-guide */

body.contribution-guide div.site-width{
  max-width: 56rem;
}

body.contribution-guide #header p,
body.contribution-guide #header nav,
body.contribution-guide #footer{
  display: none;
}


body.contribution-guide #header{
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}

body.contribution-guide #header h1{ font-size: 2rem;}

body.contribution-guide #header h1,
body.contribution-guide #header h1::before,
body.contribution-guide #header h1::after,
body.contribution-guide #header h1 span::before,
body.contribution-guide #header h1 span::after,
body.contribution-guide #header div.site-width,
body.contribution-guide #header div.site-width::before,
body.contribution-guide #header div.site-width::after{
  border: none !important;
}

body#page.contribution-guide main header,
body#page.contribution-guide main header p{
  margin-bottom: 0;
}

body#page.contribution-guide main header{
  background: #ca4d39 url(images/tile_red.jpg) repeat;
  background-sizing: auto;
  color: white;
  padding-bottom: 1.8em;
  padding-top: 1em;
  margin-bottom: 1em;
}

body#page.contribution-guide main header h1{ margin-top: 0.4em; }


body#page.contribution-guide main header nav{
  font-size: 1rem;
  background: #4a3159;
  padding: 1rem;
  color: white;
  font-family: "franklin-gothic-urw", Arial;
  display: inline-block;
  margin: 2em 1rem 0;
  border-radius: 0.33rem;
  text-align: left;
}

body#page.contribution-guide main header nav a{ color: #00d5a2; }

body#page.contribution-guide main header nav a:hover{ color: #00ffc2; }


body#page.contribution-guide main header nav h1{
  text-transform: uppercase;
  font-family: "franklin-gothic-urw", Arial;
  font-size: 1.1rem;
  margin: 0 0 1em;
}

body#page.contribution-guide main header nav ol,
body#page.contribution-guide main header nav ol li{
  padding: 0;
  color: #fff;
}

body#page.contribution-guide main header nav ol li{
	margin-bottom: 0.4em;
}

body#page.contribution-guide main header nav ol ol{ 
  padding-top: 0.4em;
  padding-left: 0.4em;
  margin-bottom: 0;
}

body#page.contribution-guide main header nav ol ol li:before{ width: 2.4em; }

@media screen and (min-width: 711.11px){
  body#page.contribution-guide main header{ text-align: left; }
  
    body#page.contribution-guide main header div.primary-secondary-content::after{
  content: "";
  display: table;
  clear: both;
}

  body#page.contribution-guide main header div.primary-secondary-content{
    padding-right: 18rem;
  }
  
  body#page.contribution-guide main header div.primary-content,
  body#page.contribution-guide main header div.secondary-content {
    float: left;
    width: 100%;
  }

  body#page.contribution-guide main header div.secondary-content{
    width: 16rem;
    float: right;
    margin-right: -18rem;
  }
  
  body#page.contribution-guide main header nav{
    margin: 2em 0 0;
    width: 16rem;
    box-sizing: border-box;

  }

  body#page.contribution-guide section#getting-in-touch ul li{
    width: 49.5%;
  }


}
  
body#page.contribution-guide main .page .site-width{ max-width: 40rem; }

body#page.contribution-guide h1{ display: inline-block; }
body#page.contribution-guide h1+a.a-top{
  display: inline-block;
  background: #eee;
  color: #555;
  position: relative;
  top: -0.2em;
  margin-left: 0.4em;
  padding: 0.2em 0.4em;
  border-radius: 99em;
  font-family: "franklin-gothic-urw", Arial;
  font-size: 0.8em;
  text-decoration: none;
}

body#page.contribution-guide h1+a.a-top::before{
  content: "\2191";
  font-size: 0.8em;
  margin-right: 0.2em;
  font-weight: 600;
  font-family: helvetica;
}


body#page.contribution-guide h1+a.a-top:hover{
  background: #e3e3e3;
  color: #333;
}

body#page.contribution-guide section#getting-in-touch{
  margin-bottom: 3em;
}

body#page.contribution-guide section#getting-in-touch ul{
  padding: 0;
  margin-top: 1.8em;
  margin-bottom: 0.6em;
}

body#page.contribution-guide section#getting-in-touch ul li{
  list-style-type: none;
  margin-bottom: 1.4em;
  line-height: 1.4;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  padding-left: 4.4rem;
  font-family: "franklin-gothic-urw", arial;
  font-size: 0.9em;
}

body#page.contribution-guide section#getting-in-touch ul li img{
  border-radius: 100%;
  width: 3.6rem;
  height: 3.6rem;
  display: inline-block;
  margin-top: -0.2em;
  position: absolute;
  left: 0;
}


/* @end */

/* @group donate */

body.donate#page{ counter-reset: donate-step; }

body.donate#page header#header,
body.donate#page main header{ 
	background: url(images/tile_light_grey.png);
	background-attachment: fixed;
}

body.donate#page main header{
  padding-bottom: 3.5em;
  border-bottom: 1px solid #eee;
}

body.donate#page main header h1 span{ position: relative; z-index: 1;}
body.donate#page main header h1 span::after{
	content: "";
	position: absolute;
	top: 0.4em;
	right: 0;
	bottom: 0.2em;
	left: 0;
	background-color: #fcc94c;
	z-index: -1;
	-webkit-transform: rotate(2deg)
}

body.donate#page main header p{ max-width: 30em;}

body.donate .page .site-width{
  margin: 0 auto 2.8rem;
  max-width: 640px;
}

body.donate .page .site-width section{
	text-align: left;
	counter-increment: donate-step;
	position: relative;
	padding-bottom: 0.5em;
	border-bottom: 2px solid #e8e8e8;
	margin-bottom: 1em;
}

body.donate .page .site-width section:last-of-type{ padding-bottom: 0; }

body.donate .page section h1{
	font-family: ff-tisa-web-pro, "franklin-gothic-urw", Arial, sans-serif;
	font-size: 23px;
	color: #514f8b;
	margin-bottom: 1em;
}

body.donate .page section h1::after{ content: ""; }
body.donate .page h1{ color: #20a984; }

body.donate main figure.figure-1{
	text-align: center;
	max-width: 640px;
	color: #888;
	margin-top: -5em;
}

body.donate main fieldset.fieldset-address{
	margin-bottom: 2em;
}

body.donate#page footer#footer{ display: none; }

body.donate .page button{ 
	margin-left: -2px; 
	font-size: 20px;
	clear: both;
	display: block;
}
p#donation-amount-tip{
  font-size: 16px;
  margin-top: 4px;
}

body.donate main fieldset.fieldset-cc{
  margin-bottom: -1em;
}
body.donate main fieldset.fieldset-cc-expiry-date{ width: 213px; }
body.donate main fieldset.fieldset-cc-expiry-date div.field-cc-yy{ margin-right: 0; }

body.donate main fieldset.fieldset-cc div.field-cc-cvv{
  width: 68px;
  float: left;
  clear: none;
  margin-top: 33px;
  margin-left: 24px;
  margin-right: 0;
  text-align: right;
  
}
body.donate main fieldset.fieldset-cc div.field-cc-cvv a{ display: none; }



@media screen and (min-width: 568.88px){
	body.donate#page main > header h1{ font-size: 7vw; }
}

@media screen and (min-width: 995.55px){ body.donate#page main > header p{ font-size: 2.4vw;} }
@media screen and (min-width: 1137.778px){

  body.donate#page main > header h1{ font-size: 4em; }
  body.donate#page main > header p{ font-size: 28px; }
  
}


/* @end */

/* @group issues */

body.issues header#header,
body.issues main > header{
  background: #393a39 url(images/tile_grey.png) repeat fixed;
  color: white;
}


body.issues header#header p,
body.issues header#header nav a{ color: #aaa; }
body.issues header#header h1 a,
body.issues header#header h1 a:hover{ color: white; }

body.issues main > header{ padding-top: 1.4em; padding-bottom: 1.2em;}

body.issues .page p{ font-size: 1.1rem; }

body.issues section.issue{ 
  margin-top: 2.8em;
  margin-bottom: 2.8em;
  position: relative;
 }
 
body.issues section.issue.issue-3 h1.issue-title::after{
	content: "Coming soon"; 
	text-transform: uppercase;
	margin-left: 0.8em;
	padding: 0.4em 0.4em 0.2em;
	line-height: 1;
	display: inline-block;
	vertical-align: middle;
	font-size: 0.8rem;
	letter-spacing: 0.05em;
	font-family: "franklin-gothic-urw", Arial, sans-serif;
	background: #fff4cc;
	color: #98581e;
}

body.issues div.issue-meta-issue-content .issue-meta{
    width: 40%;
    float: left;
    margin-right: 1.4rem;
}



body.issues div.issue-meta-issue-content .issue-meta .cover-publication-information-actions{
	margin-top: 0.4em;
	z-index: 1;
}
  
/* @group div.issue-meta */

body.issues .issue-meta{ 
	text-align: center; 
	margin-bottom: 1em; 
	font-family: "franklin-gothic-urw", Arial;
	line-height: 1.4em;
	font-size: 0.8rem;
}

body.issues span.issue-number{
	border-top: 0.3rem solid;
    padding-top: 0.4rem;
    margin-bottom: 0.8rem;
  font-size: 0.9rem;
  font-family: "ff-tisa-web-pro", georgia, serif;
  font-style: italic;
  position: relative;
  display: block;
}

body.issues .issue-meta img,
body.issues .issue-meta p.publication-information{ margin-bottom: 1em; }

body.issues section.issue .issue-meta .button{ 
	margin-bottom: 1em; 
	font-size: 1rem;
}

body.issues section.issue .issue-meta .button.button-read{
  background: #207b5a;
  margin-bottom: 0.4em;
}

body.issues section.issue .issue-meta .button.button-read:hover{ background: #095342; }

/* @end */

body.issues section.issue h1.issue-title{
  font-family: "abril-fatface", Arial;
  font-size: 1.8rem;
  word-brake: break-word;
  line-height: 1.2em;
  font-weight: 100;
  text-align: left;
  color: inherit;
}

body.issues div.issue-meta-issue-content h2{
	clear: both;
	font-family: "franklin-gothic-urw-cond", Arial;
	letter-spacing: 0.02em;
	font-weight: normal;
	font-size: 1rem;
	margin-top: 2em;
	text-transform: uppercase;
	border-bottom: 1px solid #555;
	padding-bottom: 0.2em;
	margin-bottom: 1.4em;
}


body.issues div.issue-meta-issue-content ul{ padding: 0; margin: 0;}	

body.issues div.issue-meta-issue-content ul li{
	list-style-type: none;
	font-family: "franklin-gothic-urw", Arial;
	margin-bottom: 1em;
}

body.issues div.issue-meta-issue-content ul li h3{
	font-size: 1.2rem;
	font-weight: 600;
	line-height: 1.3em;
	margin-bottom: 0.2em;
}

body.issues div.issue-meta-issue-content ul li p{
  	font-size: 1rem;
  	line-height: 1.4;
}

@media screen and (min-width: 568.88px){
  
  
  body.issues div.issue-meta-issue-content{ padding-left: 14rem; }
  body.issues div.issue-meta-issue-content .issue-meta{ 
    width: 12rem;
  	margin-left: -14rem;
  	text-align: right;
  }

  body.issues section.issue h1.issue-title{
    margin-bottom: 0.2em;
    font-size: 2.4rem;
  }
  
  body.issues .page p{ font-size: 1.25rem; }


  body.issues div.issue-meta-issue-content h2{ clear: none; }
  body.issues span.issue-number{
    text-align: right;
    font-size: 1.2rem;
    padding-top: 0.6rem;
  }
  
  body.issues div.issue-meta-issue-content .issue-meta .cover-publication-information-actions{
    left: 0;
    margin-top: 0.8em;
    z-index: 1;
  }
}

@media screen and (min-width: 853.33px){
	
	body.issues div.issue-meta-issue-content ul{
	  	margin-right: -0.8em;
	}

	body.issues div.issue-meta-issue-content ul li{
		width: 50%;
		display: inline-block;
		vertical-align: top;
		padding-right: 16px;
		box-sizing: border-box;
		margin-right: -0.2em;
	}
}

@media screen and (min-width: 955.55px){
	
	body.issues .issue-2 div.issue-meta-issue-content ul{
	  	margin-right: -1.2em;
	}

	body.issues .issue-2 div.issue-meta-issue-content ul li{
		width: 33%;
	}
		
}





/* @end */

/* @group issues (individual) */

/* @group bootstrap */

body.issue { 
	background: #f3f3f3; 
	color: #444;
}

body.issue  .primary-content section{
  background: white;
  color: #333;
  margin-bottom: 1.4rem;
  padding-bottom: 0.8em;
}

body.issue .secondary-content{ 
  font-family: "franklin-gothic-urw", arial; 
  font-size: 0.8em;
}


/* @end */

/* @group #header */

body.issue header#header,
body.issue div#cover-art{
  color: white;
  position: relative;
  background: #633380;
}


body.issue header#header p,
body.issue header#header nav a{
  z-index: 2;
  position: relative;
}

body.issue div#cover-art{
	margin-bottom: -3rem;
	text-align: center;
}

body.issue div#cover-art img{ max-width: 100%; }
@media screen and (min-width: 44.8em){ 
	body.issue div#cover-art img{ 
		width: 90%; 
		max-width: 1024px;
	} 
}

/* @end */

/* @group main */

body.issue .primary-content article.h-entry{ padding: 0; }

body.issue .primary-content article a{
  padding-top: 0.2em;
  padding-left: 1rem;
  padding-right: 1rem;
}


body.issue .primary-content section::after {
  content: "";
  display: table;
  clear: both;
}

body.issue .primary-content section header{
  margin-bottom: 0.4em;
}

body.issue .primary-content section header h1{
  padding-left: 1rem;
  padding-right: 1rem;
  border-top: 0.3rem solid;
  padding-top: 0.6em;
  margin-bottom: 0.2em;
  margin-top: 0;
}

body.issue .primary-content section header h1,
body.issue .primary-content section header p,
body.issue .primary-content section article.h-entry a{
  padding-left: 1rem;
  padding-right: 1rem;
}

body.issue .primary-content section.h-feed-miscellaneous header h1{ 
  margin-bottom: 0.6em;
  padding-top: 1em;
}

body.issue .secondary-content h1{ text-align: center; }
body.issue .secondary-content a.read-more{
	display: block;
	margin-top: 1.6em;  
}

body.issue .secondary-content a.read-more::after{
	content: " \261B";
}

body.issue .secondary-content section{
  margin-bottom: 2rem;
}

body.issue .secondary-content h1,
body.issue .secondary-content .contributors h1{
  font-size: 1.2rem;
  line-height: 1.2em;
  font-family: "franklin-gothic-urw", arial;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0.6em;
}

body.issue .secondary-content .contributors h1{ margin-bottom: 1em;}

body.issue .secondary-content p,
body.issue .secondary-content li{
  line-height: 1.45;
}


@media screen and (min-width: 563.2px){ 	
  
  body.issue div#cover-art{ margin-bottom: -4.6rem; }
  
  body.issue .primary-content section header h1,
  body.issue .primary-content section header p,
  body.issue .primary-content section article.h-entry a{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  body.issue section.h-feed header h1{ font-size: 40px; padding-top: 0.7em;}
  body.issue section.h-feed header p{ font-size: 24px;}
  

  body.issue .secondary-content h1,
  body.issue .primary-secondary-content .secondary-content section.contributors ul li span{ text-align: left; }
  
  body.issue .secondary-content section.sponsored-by img{ margin: 1.2em 0 0; }

	body.issue .secondary-content p,
    body.issue .secondary-content li{ line-height: 1.6em; } 
}

body.issue .secondary-content section.sponsored-by img,
body.issue .secondary-content section.sponsor img{
  width: 100%;
  max-width: 256px;
  display: block;
}

@media screen and (min-width: 924.44px){
  
  body.issue .primary-content section article.h-entry a{ 
    padding-left: 2rem;
    padding-right: 2rem;
  }

  body.issue .secondary-content section.notes .content{
    -webkit-column-count: 2;
    -webkit-column-gap: 0.75em;
  }  
  
}


@media screen and (min-width: 985.6px){

  body.issue .primary-secondary-content{
    padding-right: 33.33%;
  }

  body.issue .primary-secondary-content:after{
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
  }

  body.issue .primary-secondary-content .primary-content,
  body.issue .primary-secondary-content .secondary-content{
    float: left;
    width: 100%;
  }
  
  body.issue .primary-secondary-content .primary-content{ width: 100%; }

  body.issue .primary-secondary-content .secondary-content{
    width: 42.5%;
    margin-right: -42.5%;
    float: right;
    position: relative;
    left: 7%;
    top: 120px;
  }


  body.issue .primary-content section article.h-entry:nth-child(odd) a{ padding-right: 1rem; }
  body.issue .primary-content section article.h-entry:nth-child(even) a{ padding-left: 1rem; }


  body.issue .primary-secondary-content .secondary-content section .content{ -webkit-column-count: 1; }

  body.issue .primary-secondary-content .secondary-content section.contributors ul li{
    width: auto; 
    margin-left: 0;
    margin-right: 0;
  }
  
}
/* @end */



/* @end */

/* @group subscribe */

body.subscribe .donation-information {
	display: none;
}
body.subscribe main{
  background: url(images/tile.png);
  padding-bottom: 2rem;
}

body.subscribe #footer{ display: none; }

body.subscribe main .page div.site-width{
  background: white;
  padding: 1rem 1rem 2rem;
  max-width: 40rem;
  width: 95%;
  box-shadow: 1px 1px 9px -2px rgba(0,0,0,0.25);
}

body.subscribe header#header,
body.subscribe main header{
  background: #187f64;
  color: white;
}

body.subscribe main header div.site-width{ padding-bottom: 1em; }

body.subscribe header#header h1 a:hover{ color: white; }

body.subscribe header#header p,
body.subscribe header#header nav a{
  color: #93e1cc;
}

body.subscribe main header{ padding-top: 1.8rem; }

body.subscribe main header img{
  box-shadow: 1px 1px 9px -2px rgba(0,0,0,0.25);  
  max-width: 20rem;
  margin: 0 auto 2em;
  display: block;
}

body.subscribe main header .field-select select{
  background-color: #1c645e;
  background-size: 0.9rem 0.7rem, cover;
  border-color: #0a4944;
  background-image:
      url("images/arrow-down-white.png"), -webkit-linear-gradient(#1c645e, #0d4642);
  background-image:
      url("images/arrow-down-white.png"),
    linear-gradient(#1c645e, #0d4642);
  font: inherit;
  color: inherit;
  box-sizing: border-box;
  line-height: 1.2;
  height: 2.2em;
  font-weight: normal;
 }

body.subscribe main header .field-select select:focus{ border-color: #5bd5ca; }

body.subscribe main .page section h1{ color: #7a60c0; }

body.subscribe main .page section:first-of-type h1{ margin-top: 0.4rem; }

@media screen and (min-width: 711.11px){
  body.subscribe main div.site-width{
    text-align: left;
  }

  body.subscribe main .page div.site-width{
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 3rem;
    padding-top: 2rem;
    text-align: left;
  }

  body.subscribe main header div.site-width{
    padding-left: 18rem;
    padding-bottom: 2em;
  }

  body.subscribe main header div.site-width div.field{ max-width: 24rem; }

  body.subscribe main header img{
    width: 14rem;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
  }

  body.subscribe main header p{ min-height: 4em; }
  body.subscribe main .page section:first-of-type h1{ margin-top: 1rem; }
}

@media screen and (min-width: 995.55px){

  body.subscribe main header{ padding-top: 2rem; }
  body.subscribe main header p{ max-width: 24em !important; margin-left: 0 !important;}
  body.subscribe main header div.site-width{ padding-left: 24rem; }

  body.subscribe main header img{
    width: 17rem;
    -webkit-transform: rotate(-3deg) scale(1.1);
    -ms-transform: rotate(-3deg) scale(1.1);
	transform: rotate(-3deg) scale(1.1);
    z-index: 1;
    top: auto;
    bottom: -1.3rem;
    left: 3rem;
  }

  body.subscribe main .page section:first-of-type h1{ margin-top: 1rem; }
}


body.subscribe main .page p{  margin-bottom: 1.5em; }
body.subscribe main section { margin-bottom: 3.6rem; }

body.subscribe div.field.field-offer-code{
  border-top: 0.125rem solid #eee;
  padding-top: 1.2rem;
  margin-top: 1.8rem;
  
}

body.subscribe div.field.field-offer-code label{
  margin: 0;
  height: auto;
  margin-right: 1rem;
  vertical-align: middle;
  font-size: 1rem;
  font-weight: normal;
}

body.subscribe div.field.field-offer-code label{
  margin-bottom: 0.8rem;
}

aside#whats-cvv{
  clear: both;
  font-size: 0.9em;
  background: #eee;
  padding: 1em;
  display: none;
  border-left: 0.4em solid #ccc;
  font-family: "franklin-gothic-urw", Arial;
  margin-top: 1em;
}

aside#whats-cvv p{
  font-size: 0.9em;
  line-height: 1.4;
  margin: 0;
}

aside#whats-cvv h1{
  margin-top: 1em;
  margin-bottom: 0.2em;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  color: inherit;
}

aside#whats-cvv h1:first-of-type{ margin-top: 0; }
body.no-js aside#whats-cvv,
body.cvv-tooltip aside#whats-cvv{ display: block; }
body.subscribe footer#footer div.site-width{ border: none;   }
body.subscribe footer#footer section.subscribe,
body.subscribe footer#footer section.mailing-list{ display: none; }
body.subscribe form .button{ font-size: 1em; }

/* @end */

/* @end */

/* @end */
